<h1>Log in</h1>

<div>
	<%= form_for(:session, url: login_path) do |f| %>
	
		<p>
			<%= f.label :email %>
			<%= f.email_field :email %>
		</p>
		
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		
		<p>
			<%= f.submit "Log in" %>
		</p>
		
	<% end %>
	
	<p>
		Need to create an employer account? <span><%= link_to 'here', signup_path %></span>
	</p>
	
</div>