<h1>Available Jobs:</h1>

<% @jobs.each do |job| %>
	<p>
		<span><strong><%= link_to "#{job.title}", job_path(job) %></strong></span>
		<br>
		<span><%= job.description.truncate(27) %></span>
		<br>
		<span><small>created at: <%= job.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></span>
	</p>
<% end %>

<% unless logged_in? %>
	<div>-----------------------------------------------</div>
	<div>If you're an employer click <span><%= link_to 'here', login_path %></span></div>
<% end %>