<h1>Post a new job:</h1>

<%= form_for(@job) do |f| %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
	
	<%= f.submit 'Post' %>
	
<% end %>