<%= render @job %>

<% if current_employer?(@job.employer) %>
	Number of proposals: <%= @job.proposals.count %>
	<p>------------------------------</p>
	<h3>Proposals:</h3>
	<%= render @job.proposals %>
<% end %>

<p>
	<% unless logged_in? %>
		<p>---------------------------</p>
		<%= render 'proposals/new' %>
	<% end %>
</p>