<h1>Sign up as an employer</h1>

<div>
	<%= form_for(@employer) do |f| %>
		
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		
		<p>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</p>
		
		<p>
			<%= f.submit 'Sign up' %>
		</p>
		
	<% end %>
</div>