<h2><%= @employer.name.capitalize %></h2>
<h5><%= @employer.jobs.count %> jobs posted.</h5>

<% if current_employer?(@employer) %>
	<p><%= link_to 'Post a job', new_job_path %></p>
<% end %>

<h2>Jobs posted:</h2>
<%= render @employer.jobs %>