<h3>Send a proposal:</h3>

<%= form_for(@proposal) do |f| %>

	<%= hidden_field_tag :current_job, @current_job.id %>
	
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	
	<%= f.submit 'Send' %>

<% end %>