<!DOCTYPE html>
<html>
  <head>
    <title>JobForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <%= link_to 'Home', root_url %>
      <% if logged_in? %> <%= link_to 'Profile', employer_path(current_employer) %> <% end %>
      <% if logged_in? %> <%= link_to 'Log out', logout_path, method: :delete %> <% end %>
    </p>
    <%= yield %>
  </body>
</html>